@import "tailwindcss";

@theme {

  /* color */
  --color-primary: #ff9332;
  --color-secondary: #7678d5;
  --color-surface-900: #0D0D0D;
  --color-surface-800: #262626;
  --color-surface-700: #1a1a1a;
  --color-gray-500: #5C5C5B;
  --color-gray-300: #999999;
  --color-primary-border: #aaaaaa3c;

  /* text */
  --text-normal: 1rem;
}

@font-face {
  font-family: "poppins_regular";
  src: url(/fonts/Poppins-Medium.ttf);
}
*{
  scrollbar-width: thin;
  scrollbar-color: #ff9332 #0D0D0D;
}

@layer base {
  * {
    outline: none;
    font-family: "poppins_regular";
  }
  button,
  a {
    @apply cursor-pointer;
  }
  li {
    list-style: none;
  }
}
@layer utilities {
  .container {
    margin-inline: auto;
    padding-inline: 1rem;
    max-width: 90rem;
    @media (min-width: 640px) { padding-inline: 1rem; }
    @media (min-width: 1024px) { padding-inline: 1.5rem; }
    @media (min-width: 1280px) { padding-inline: 2.5rem; }
    @media (min-width: 1536px) { padding-inline: 3rem; }
    @media (min-width: 1920px) { padding-inline: 6.25rem; }
  }
}

@media only screen and (max-width: 1300px) {
  :root {
    --text-normal: 0.875rem;
  }
}
@media only screen and (max-width: 640px) {
  :root {
    --text-normal: 0.75rem;
  }
}
